@{
    ViewData["Title"] = "FileSearch";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Under Construction<br />
    Under Construction, WA 98052-6399<br />
    <abbr title="Under Construction">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Under Construction:</strong> <a href="mailto:Support@example.com">Under Construction@example.com</a><br />
    <strong>Under Construction:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
