@{
    ViewData["Title"] = "Search Across Folder Files";
}

<body>
    <h1>@ViewData["Title"]</h1>

    @*<form method="post" enctype="multipart/form-data" asp-controller="FilerySearchController" asp-action="PostSearchInFiles">*@
        @*<form>*@

            <div class="SearchParamsContainer">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Date input -->
                        <div class='input-group date'>

                            <label @*class="control-label"*@ for="frmDate">From Date:</label>
                            <input @*class="form-control"*@ id='frmDate' name="date" @*placeholder="DD/MM/YYYY HH:MM:SS" *@ type="text"><span class="glyphicon glyphicon-calendar"></span>



                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Date input -->
                        <div class='input-group date'>

                            <label @*class="control-label"*@ for="toDate">To Date:</label>
                            <input @*class="form-control"*@ id='toDate' name="date" @*placeholder="DD/MM/YYYY HH:MM:SS" *@ type="text"><span class="glyphicon glyphicon-calendar"></span>

                        </div>
                    </div>
                </div>

                <!-- Notice this following line -->
                <hr class="my-2">

                <div class="row">
                    <div class="col-md-10">
                        <!-- Date input -->
                        List of Words will inserted here...
                    </div>

                </div>

                <hr class="my-2">

                <div class="row">
                    <div class="col-md-6">

                        @*<div class="form-group">*@
                            <div class="col-md-10">
                                <p>Choose folder to search files within...</p>
                                <input @*class="form-control"*@ type="file" id="filepicker" name="fileList" webkitdirectory multiple />
                            @*</div>*@
                        </div>

                        @*<div class="form-group">*@
                        <div class="col-md-10">
                            <input class="form-control btn btn-primary" type="submit" value="Search Within Files!" onclick="SearchOccurences()" />
                        </div>
                        @*</div>*@
                    </div>

                    <hr class="my-2">

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                    Match All Words!
                                </label>
                            </div>
                        </div>



                    </div>



                </div>


            </div>

            <hr class="my-3">

            <div class="SearchParamsContainer">
                <div class="row">
                    <div class="col-lg-10" id="queryResult"></div>

                </div>
            </div>
        @*</form>*@


</body>
<script src="~/js/FolderSearch.js" asp-append-version="true"></script>

